<div class="header">
    <div class="imgHeader"> </div>
    <div class="filtro">
        <app-header-one></app-header-one>
    </div>
    <div class="center-text">
        <div class="wellcome">
            Bem vindo ao CzarVideos!
            <br>
            Viagem em um novo mundo, pelo seus filmes e series favoritas.
        </div>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="none" style="width: 100%; height: auto; background-color: aqua;">
    <div fxLayout="column" fxLayoutAlign="end start"
        style="width: 100%; height: auto; background-color: rgb(255, 0, 140);">
        <h1 style="margin-left: 20px; margin-top: 20px;"> Ultimos Videos</h1>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around center"
        style="width: 100%; height: auto; background-color: rgb(255, 0, 140)">
        <div fxLayout="row" fxLayoutAlign="space-around center"
            style="width: 100%;height: 300px; margin-top: 10px; background-color: blueviolet;">

            <div fxLayout="row" fxLayoutAlign="center center"
                style="width: 15%;height: 250px; background-color: rgb(64, 226, 43);">
            </div>

            <div fxLayout="row" fxLayoutAlign="center center"
                style="width: 15%;height: 250px; background-color: rgb(64, 226, 43);">
            </div>

            <div fxLayout="row" fxLayoutAlign="center center"
                style="width: 15%;height: 250px; background-color: rgb(64, 226, 43);">
            </div>


            <div fxLayout="row" fxLayoutAlign="center center"
                style="width: 15%;height: 250px; background-color: rgb(64, 226, 43);">
            </div>

            <div fxLayout="row" fxLayoutAlign="center center"
                style="width: 15%;height: 250px; background-color: rgb(73, 226, 43);">
            </div>

        </div>
    </div>




</div>
